.dash-heading {
    margin-top: 50px;
    text-align: center;
}

.dash-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;
}

.dash-card {
    width: 95%;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 5%;
    padding-right: 5%;

    padding-block: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.dash-card li {
    list-style-type: none;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}

.dash-card h2 {

    padding-bottom: 25px;
}

.dash-card p {
    font-size: 40px;
    font-weight: 900;
}
.title{
    font-size: 18px !important;
    color: #2222225f;
    text-align: center;
    margin-bottom: 10px;
}
@media only screen and (max-width: 1110px) {
.dash-grid{
    display: grid;
    grid-template-columns: 1fr ;
}
.dash-card{
    width: 100%;
}
}

