

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fbf5e0;
    /* background-color: #d5d5d4; */
}

h1,
h2,
h3,
h4 h5,
h6 {
    font-family: 'Philosopher', sans-serif;
}

.page_all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}