



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fbf5e0;
    /* background-color: #d5d5d4; */
}


.page_all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.page_all button{
    padding: 15px 45px;
    margin-top: 30px;
    border: none;
        background-color: #6158e5;
        border-radius: 10px;
}
.page_all h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.page_all button a{
    color: #fff;
}

.typed-text{
    margin-top: 30px;
}

.lasst{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding-block: 20px;
    text-align: center;
}

@media only screen and (max-width: 1110px) {
    .page_all{
        padding-block: 40px;
        height: 100%;
    }
   .page_all h1 {
       font-size: 20px;
       text-transform: uppercase;
   }
}
